link(rel='stylesheet' type='text/css' href='resources/scss/Grid.css')
link(rel='stylesheet' type='text/css' href='resources/scss/queries.css')
link(rel='stylesheet' type='text/css' href='dist/styles.css')
link(rel='stylesheet' href='https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css')
meta(name="viewport" content="width=device-width")