script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js")
script(src="dist/templates.js")
script(src="http://localhost:35729/livereload.js")
script(src="dist/scripts.js")
script(type="text/javascript" src="knockout-3.5.0.js")